body{
    background-color: black;
    color: black;
    -webkit-text-stroke: 1px cyan;
}

.walker-login-boxes {
    color: cyan;
    background-color: #333;
    border: 1px cyan solid;
}

.walker-submit-button{
    background-color: #333;
    border: 1px cyan solid;
}

.AW-Drones{
    display: block;
    margin-left: 25%;
    margin-right: 25%;
}